---
http_interactions:
- request:
    method: get
    uri: https://api.clientsuccess.com/v1/client-segments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 319441a6-38b0-47ed-9f85-90566d38e98e
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-application-context:
      - application
      x-cs-tenant-id:
      - '328'
      x-cs-user-id:
      - '3955'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":4974,"tid":328,"title":"Active - High CMI","description":null,"defaultSuccessCycleMapId":null,"successCycles":[]},{"id":4972,"tid":328,"title":"Active
        - Key Account","description":null,"defaultSuccessCycleMapId":null,"successCycles":[]},{"id":4973,"tid":328,"title":"Active
        - Low CMI","description":null,"defaultSuccessCycleMapId":null,"successCycles":[]},{"id":4783,"tid":328,"title":"Churned","description":null,"defaultSuccessCycleMapId":null,"successCycles":[]},{"id":4784,"tid":328,"title":"Dormant","description":null,"defaultSuccessCycleMapId":null,"successCycles":[]},{"id":5161,"tid":328,"title":"Expired
        Trial","description":null,"defaultSuccessCycleMapId":null,"successCycles":[]},{"id":4782,"tid":328,"title":"Onboarding","description":null,"defaultSuccessCycleMapId":null,"successCycles":[]},{"id":4781,"tid":328,"title":"Trial","description":null,"defaultSuccessCycleMapId":null,"successCycles":[]}]'
  recorded_at: Wed, 26 Feb 2020 23:11:49 GMT
recorded_with: VCR 5.0.0
