---
http_interactions:
- request:
    method: post
    uri: https://api.clientsuccess.com/v1/clients/90337314/contacts
    body:
      encoding: UTF-8
      string: '{"email":"john.smith@address.com","phone":"00 0000 0000","title":"Junior
        Accountant","firstName":"John","lastName":"Smith","executiveSponsor":false}'
    headers:
      Authorization:
      - 2693cca7-431b-444e-ae09-79b8bb2dd882
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Application-Context:
      - application
      X-Cs-Tenant-Id:
      - '405'
      X-Cs-User-Id:
      - '5082'
    body:
      encoding: ASCII-8BIT
      string: '{"id":10911497,"uuid":"cnt_45vyy3c6","clientId":90337314,"email":"john.smith@address.com","phone":"00
        0000 0000","mobile":null,"title":"Junior Accountant","linkedinUrl":null,"firstName":"John","lastName":"Smith","note":null,"executiveSponsor":false,"advocate":false,"champion":false,"starred":false,"street":null,"city":null,"zip":null,"country":null,"timezone":null,"salesforceId":null,"client":"Unnamed
        Practice","lastEngagement":null,"engagementCount":0,"customFieldValues":[],"preferredName":null,"photoUrl":null,"name":"John
        Smith","contactState":null}'
  recorded_at: Tue, 18 Dec 2018 07:01:03 GMT
- request:
    method: get
    uri: https://api.clientsuccess.com/v1/contacts/search?term=%27john.smith@address.com%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - f3ee8f1f-3e3a-47b8-85bd-fdb2910411e8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Cs-User-Id:
      - '5082'
      X-Cs-Tenant-Id:
      - '405'
    body:
      encoding: ASCII-8BIT
      string: '[{"clientId[...]
- request:
    method: get
    uri: https://api.clientsuccess.com/v1/contacts?clientExternalId=5a08599c-a67e-4949-839d-48ea51145c6d&email=john.smith@address.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - fa421642-0a2d-4d02-b85d-f85c3b5f5290
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Application-Context:
      - application
      X-Cs-Tenant-Id:
      - '405'
      X-Cs-User-Id:
      - '5082'
    body:
      encoding: ASCII-8BIT
      string: 'null'
  recorded_at: Thu, 03 Jan 2019 00:03:04 GMT
- request:
    method: get
    uri: https://api.clientsuccess.com/v1/contacts?clientExternalId=ab41c97f-b633-47c8-b943-3577fb11a6e9&email=john.smith111@address.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - fa421642-0a2d-4d02-b85d-f85c3b5f5290
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Application-Context:
      - application
      X-Cs-Tenant-Id:
      - '405'
      X-Cs-User-Id:
      - '5082'
    body:
      encoding: ASCII-8BIT
      string: 'null'
  recorded_at: Thu, 03 Jan 2019 00:07:12 GMT
[...]
- request:
    method: get
    uri: https://api.clientsuccess.com/v1/contacts?clientExternalId=6c45cdcb-6045-4beb-925a-43e430349d95&email=john.smith111@address.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - b87a1f58-b39f-4d92-bd07-530c5336a537
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Application-Context:
      - application
      X-Cs-Tenant-Id:
      - '405'
      X-Cs-User-Id:
      - '5082'
    body:
      encoding: ASCII-8BIT
      string: 'null'
  recorded_at: Wed, 16 Jan 2019 01:13:44 GMT
recorded_with: VCR 4.0.0
