---
http_interactions:
- request:
    method: get
    uri: https://api.clientsuccess.com/v1/contacts?clientExternalId=5372a2ad-7e14-4ea4-a20a-c7a717f9a845&email=test%40test.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 4ceb5a35-c4aa-48c2-9a10-dc0156f83281
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-application-context:
      - application
      x-cs-tenant-id:
      - '405'
      x-cs-user-id:
      - '5082'
    body:
      encoding: ASCII-8BIT
      string: '{"id":12182818,"uuid":"cnt_pzda6yfp","clientId":90764325,"statusId":1,"email":"test@test.com","phone":null,"mobile":null,"title":null,"linkedinUrl":null,"firstName":"Jimmy","lastName":"Neutron","note":null,"executiveSponsor":true,"advocate":false,"champion":false,"starred":false,"keyContact":false,"street":null,"city":null,"zip":null,"country":null,"timezone":null,"salesforceId":null,"externalId":null,"client":"LOOKFORMETONY","lastEngagement":null,"engagementCount":0,"usageId":null,"customFieldValues":[],"name":"Jimmy
        Neutron","preferredName":null,"photoUrl":null,"contactState":null}'
  recorded_at: Tue, 03 Mar 2020 01:07:46 GMT
- request:
    method: get
    uri: https://api.clientsuccess.com/v1/contacts?clientExternalId=5372a2ad-7e14-4ea4-a20a-c7a717f9a845&email=test%40test.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 124f4ab2-c951-4dd2-9519-5546eaa20bc6
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json
      www-authenticate:
      - Bearer realm="clientsuccess", error="invalid_token", error_description="124f4ab2-c951-4dd2-9519-5546eaa20bc6"
    body:
      encoding: ASCII-8BIT
      string: '{"error":"invalid_token","error_description":"124f4ab2-c951-4dd2-9519-5546eaa20bc6"}'
  recorded_at: Mon, 06 Apr 2020 01:39:06 GMT
recorded_with: VCR 5.1.0
