---
http_interactions:
- request:
    method: put
    uri: https://api.clientsuccess.com/v1/clients/90337314/contacts/10911497/details
    body:
      encoding: UTF-8
      string: '{"email":"johnny.smith@address.com","phone":"00 9999 9999","title":"Senior
        Accountant","firstName":"Johnny","lastName":"Smith"}'
    headers:
      Authorization:
      - 9ae500ef-e119-466b-8138-e6b54f490db5
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Application-Context:
      - application
      X-Cs-Tenant-Id:
      - '405'
      X-Cs-User-Id:
      - '5082'
    body:
      encoding: ASCII-8BIT
      string: '{"id":10911497,"uuid":null,"clientId":90337314,"email":"johnny.smith@address.com","phone":"00
        9999 9999","mobile":null,"title":"Senior Accountant","linkedinUrl":null,"firstName":"Johnny","lastName":"Smith","note":null,"executiveSponsor":false,"advocate":false,"champion":false,"starred":false,"street":null,"city":null,"zip":null,"country":null,"timezone":null,"salesforceId":null,"client":"Unnamed
        Practice","lastEngagement":null,"engagementCount":0,"customFieldValues":[],"photoUrl":null,"preferredName":null,"name":"Johnny
        Smith","contactState":null}'
  recorded_at: Wed, 19 Dec 2018 02:39:50 GMT
recorded_with: VCR 4.0.0
