---
http_interactions:
- request:
    method: post
    uri: https://api.clientsuccess.com/v1/auth
    body:
      encoding: UTF-8
      string: '{"username":"invalid@example.com","password":"hunter2"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"code":"Unauthorized","message":""}'
  recorded_at: Tue, 21 Aug 2018 04:15:07 GMT
recorded_with: VCR 2.9.3
