---
http_interactions:
- request:
    method: post
    uri: https://api.clientsuccess.com/v1/auth
    body:
      encoding: UTF-8
      string: '{"username":"CLIENT_SUCCESS_USERNAME","password":"CLIENT_SUCCESS_PASSWORD"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Authorization:
      - 979e3ce5-5f57-486a-af03-d328f50bd356
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"979e3ce5-5f57-486a-af03-d328f50bd356","token_type":"Bearer","expires_in":43200}'
  recorded_at: Tue, 21 Aug 2018 04:17:32 GMT
recorded_with: VCR 2.9.3
