---
http_interactions:
- request:
    method: post
    uri: https://api.clientsuccess.com/v1/subscriptions
    body:
      encoding: UTF-8
      string: '{"productId":9224,"isRecurring":true,"amount":100,"quantity":1,"startDate":"2018-12-10","endDate":"2018-12-10","isPotential":false,"autoRenew":true,"clientId":90334223}'
    headers:
      Authorization:
      - 38dc5069-08fe-4bc0-a7e6-59f6286e2f16
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"clientAsOfDate":"2018-12-09","potentialAmount":100,"clientId":90334223,"amount":100,"attachmentIds":null,"salesforceProductId":null,"reasonCodesNote":null,"reasonCodes":null,"contractId":null,"csmId":null,"potentialProbability":70,"potentialEndDate":"2018-12-11T00:00:00Z","isRecurring":true,"isPotential":false,"startDate":"2018-12-10","renewedById":null,"potentialStartDate":"2018-12-11T00:00:00Z","productName":"Starter
        Monthly","productId":9224,"salesforceOpportunityId":null,"clientNoteId":null,"probability":70,"renewedDate":null,"potentialRenewedById":2056707,"statusId":1,"note":null,"salesforceId":null,"endDate":"2018-12-10","potentialQuantity":1,"id":2056708,"noteId":null,"salesforceForecastId":null,"createdDate":"2018-12-10","quantity":1,"terminationDate":null,"potentialNote":null,"autoRenew":true,"clientName":"Client
        Success Local Rudy Again"}'
  recorded_at: Mon, 10 Dec 2018 23:08:33 GMT
- request:
    method: get
    uri: https://api.clientsuccess.com/v1/products
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 9ae500ef-e119-466b-8138-e6b54f490db5
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":7857,"active":true,"name":"Practice Ignition Sandbox","description":null,"sku":null,"logo":null,"recurring":true,"createdDate":"2018-08-17","salesforceId":null},{"id":9211,"active":true,"name":"Jupiter
        Annual","description":null,"sku":"2015-jupiter-annual","logo":null,"recurring":true,"createdDate":"2018-12-06","salesforceId":null},{"id":9212,"active":true,"name":"Jupiter
        Monthly","description":null,"sku":"2015-jupiter-monthly","logo":null,"recurring":true,"createdDate":"2018-12-06","salesforceId":null},{"id":9213,"active":true,"name":"Mars
        Annual","description":null,"sku":"201[...]
[...]
