---
http_interactions:
- request:
    method: post
    uri: https://api.clientsuccess.com/v1/subscriptions
    body:
      encoding: UTF-8
      string: '{"productId":0,"isRecurring":true,"amount":100,"quantity":1,"startDate":"2018-12-10","endDate":"2018-12-10","isPotential":false,"autoRenew":true,"clientId":0}'
    headers:
      Authorization:
      - 38dc5069-08fe-4bc0-a7e6-59f6286e2f16
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: 'null'
  recorded_at: Mon, 10 Dec 2018 23:15:49 GMT
recorded_with: VCR 4.0.0
