---
http_interactions:
- request:
    method: get
    uri: https://api.clientsuccess.com/v1/products
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 19b98d65-d4c9-4739-b000-d6d5916fbd69
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":7857,"active":true,"name":"Practice Ignition Sandbox","description":null,"sku":null,"logo":null,"recurring":true,"createdDate":"2018-08-17","salesforceId":null},{"id":9211,"active":true,"name":"Jupiter
        Annual","description":null,"sku":"2015-jupiter-annual","logo":null,"recurring":true,"createdDate":"2018-12-06","salesforceId":null},{"id":9212,"active":true,"name":"Jupiter
        Monthly","description":null,"sku":"2015-jupiter-monthly","logo":null,"recurring":true,"createdDate":"2018-12-06","salesforceId":null},{"id":9213,"active":true,"name":"Mars
        Annual","description":null,"sku":"2015-mars-annual","logo":null,"recurring":true,"cr[...]
