---
http_interactions:
- request:
    method: post
    uri: https://api.clientsuccess.com/v1/clients
    body:
      encoding: UTF-8
      string: '{"name":"Unnamed Practice","statusId":3,"externalId":"5a08599c-a67e-4949-839d-48ea51145c6d"}'
    headers:
      Authorization:
      - 2693cca7-431b-444e-ae09-79b8bb2dd882
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Application-Context:
      - application
      X-Cs-Tenant-Id:
      - '405'
      X-Cs-User-Id:
      - '5082'
    body:
      encoding: ASCII-8BIT
      string: '{"id":90337314,"uuid":"cln_qfhfeb05","name":"Unnamed Practice","siteUrl":null,"clientSegmentId":null,"clientSegment":null,"zip":null,"modifiedByEmployeeId":5082,"statusId":3,"inceptionDate":null,"createdByEmployeeId":5082,"linkedinUrl":null,"managedByEmployeeId":null,"active":true,"successScore":60,"activeClientSuccessCycleId":null,"crmCustomerId":null,"note":null,"crmCustomerUrl":null,"zendeskId":null,"deskId":null,"terminatedDate":null,"freshdeskId":null,"uservoiceId":null,"assignedSalesRep":null,"customFieldValues":[null,null],"successCycleId":2361,"salesforceAccountId":null,"jiraId":null,"usageId":null,"keyContactId":null,"street":null,"state":null,"country":null,"city":null,"timezone":null,"npsScore":null,"externalId":"1111","assignedCSM":null}'
  recorded_at: Tue, 18 Dec 2018 07:00:55 GMT
recorded_with: VCR 4.0.0
