---
http_interactions:
- request:
    method: get
    uri: https://api.clientsuccess.com/v1/clients?activeOnly=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 979e3ce5-5f57-486a-af03-d328f50bd356
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":90289610,"name":"Joshuah Wintheiser DVM","successScore":60,"managedByEmployeeId":null,"clientSegmentId":null,"segment":null,"lastTouchDateTime":null,"lastTouchTypeId":null,"lastTouchType":null,"activeClientSuccessCycleId":478852,"externalId":"2474027099"}]'
  recorded_at: Tue, 21 Aug 2018 05:03:49 GMT
recorded_with: VCR 2.9.3
